<article class="center" ng-show="start">
   <header class="center">
    <section class="container">
        <h1 class="logo">
            <img src="images/logo.png" alt="Deuses do egito">
        </h1>
    </section>
    </header>
    <section class="container">
        <p class="main__text">
        Analisamos seu perfil no Facebook e combinamos<br /> com dados de DEUSES DO EGITO
        e assim podemos<br /> determinar precisamente qual deus você seria!
        </p>
        <button type="button" class="btn btn--facebook" ng-click="login()">CONECTAR AO FACEBOOK</button>
    </section>
</article>

<article class="center" ng-show="loading">
    <section class="container">
        <img class="main__text" src="https://experienceais.com/Content/Images/spinner.gif" width="42" alt="">
    </section>
</article>

<article class="center" ng-show="result">
   <header class="center">
        <section class="container">
            <h1 class="logo">
                <img src="images/logo.png" alt="Deuses do egito">
            </h1>
        </section>
    </header>
    <section class="container">
        <ul class="result">
            <li class="result__item">
                <figure class="profile">
                    <img src="http://graph.facebook.com/{{ user.id }}/picture?type=large" alt="{{ user.name }}">
                </figure>
                <p class="profile__name">{{ user.name }}</p>
            </li>
            <li class="result__item">
                <p class="skill">Semelhança</p>
                <span class="skill__data">{{ percent.number }}%</span>
                <p class="skill">Pontos Fortes</p>
                <span class="skill__data">{{ god.strength }}</span>
                <p class="skill">Fraqueza</p>
                <span class="skill__data">{{ god.weakness }}</span>
            </li>
            <li class="result__item">
                <figure class="profile">
                    <img src="images/{{ god.name }}.jpg" alt="{{ god.name }}">
                </figure>
                <p class="profile__name">{{ god.name }}</p>
                <span class="profile__description">{{ god.title }}</span>
            </li>
        </ul>
        <button type="button" class="btn btn--facebook" ng-click="sharing()">COMPARTILHE NO FACEBOOK</button>
    </section>
</article>
